*.json
*.a
*.o
.depends
.gitignore
Makefile.cfg
config.h
config.log
config.status
csrc/eaw_gen
csrc/dump
csrc/httpclient
csrc/sayaka
csrc/sixelv
csrc/terminal
csrc/test
csrc/wsclient
src/sayaka
src/sixelv
src/test
